%h1 Listing industries

%table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th

  %tbody
    - @industries.each do |industry|
      %tr
        %td= industry.name
        %td= industry.description
        %td= link_to 'Show', industry
        %td= link_to 'Edit', edit_industry_path(industry)
        %td= link_to 'Destroy', industry, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Industry', new_industry_path
