=render 'layouts/header'
%center
  .ui.container
    %br
    %br
    %br
      .ui.form  
        %h2 Log in
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .three.wide.field
            = f.label :login
            %br/
            = f.text_field :login

          .three.wide.field
            = f.label :password
            %br/
            = f.password_field :password, autocomplete: "off"
          - if devise_mapping.rememberable?
            .ui.inline.fields
            %center
              = f.check_box :remember_me
              = f.label :remember_me
          .actions
            = f.submit "Log in" , class: 'ui green button'
          %br
            = render "devise/shared/links"
