.container
	.col-md-3
		=render 'layouts/navigation'
	.col-md-9

		.top
			.ui.container
				.ui.green.segment
					.ui.grid
						.four.wide.column{align: 'center'}
							= image_tag("person-flat.png", :height => '100')

							%h4 Name: #{@green.names}

						.ui.vertical.divider

						.ten.wide.column
							.ui.grid
								.five.wide.column
									Skills
									.ui.tiny.progress
										.bar
										.label
											html
									.ui.tiny.progress
										.bar
										.label
											css

								.ui.vertical.divider

								.five.wide.column
									Rating
									.ui.star.rating{"data-rating" => "4"}
									#{@green.stars}

								.ui.vertical.divider

								.five.wide.column
									Tag Line



				%h2 Projects

				.ui.grid
					- @proj.each do |p|
						.four.wide.column
							= link_to "#{p.link}", class: 'ui card' do
								.content
									.header
										Project Name: #{p.name}
									.meta
										%span.category
											Timeline
									.description
										%p
											#{p.description}
								.extra.content
									.right.floated.author
										= image_tag ("person-flat.png"), class: 'ui avatar image'
										-#{current_green.names}




